@mixin mobile {
    @media screen and (max-width:480px) {
        @content;
    }
}

@mixin tablet {
    @media screen and (max-width:780px) {
        @content;
    }
}

@mixin laptop {
    @media screen and (max-width:1200px) {
        @content;
    }
}

.formContainer {
    background-color: #a7bcff;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;


    .formWrapper {
        background-color: #fff;
        padding: 20px 60px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;

        .logo {
            color: #5d5b8d;
            font-weight: bold;
            font-size: 24px;
        }

        .title {
            color: #5d5b8d;
            font-size: 12px;
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 15px;

            input {
                padding: 12px;
                border: none;
                width: 250px;
                border-bottom: 1px solid #a7bcff;
            }

            button {
                background-color: #7b96ec;
                color: #fff;
                padding: 10px;
                bottom: none;
                font-weight: bold;
                cursor: pointer;
                border: none;
            }

            img {
                width: 45px;
                height: 45px;
            }

            label {
                display: flex;
                align-items: center;
                justify-content: start;
                cursor: pointer;

                span {
                    font-size: 13px;
                    padding-left: 10px;
                }
            }
        }

        p {
            color: #5d5b8d;
            margin-top: 10px;
            font-size: 12px;
        }
    }
}

// home
.home {
    background-color: #a7bcff;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .container {
        border: 1px solid white;
        border-radius: 10px;
        width: 65%;
        height: 80%;
        display: flex;
        overflow: hidden;

        @include tablet {
            width: 90%;
        }

        @include mobile {
            width: 90%;
        }

        .sidebar {
            flex: 1;
            border-right: 1px solid black;
            background-color: #3e3c61;
            overflow-y: scroll;
            position: relative;

            .navbar {
                display: flex;
                align-items: center;
                background-color: #2f2d52;
                height: 40px;
                padding: 8px;
                justify-content: space-between;
                color: #ddddf7;

                .logo {
                    font-weight: bold;

                    @include tablet {
                        display: none;
                    }
                }

                .user {
                    display: flex;
                    align-items: center;
                    gap: 4px;

                    img {
                        height: 24px;
                        width: 24px;
                        border-radius: 50%;
                        background-color: #fff;
                        object-fit: cover;
                    }

                    span {
                        font-size: 10px;

                        @include mobile {
                            //    display: none;
                        }
                    }

                    button {

                        background-color: #2f2d52;
                        cursor: pointer;
                        border: none;
                        border-radius: 7px;

                        // @include mobile {
                        //     position: absolute;
                        //     bottom: 10px;
                        // }

                        // @include tablet {
                        //     position: absolute;
                        //     bottom: 0px;
                        // }

                        // img {}
                    }
                }
            }

            .search {
                border: 1px solid rgb(104, 104, 104);

                .searchForm {
                    padding: 10px;

                    input {
                        background-color: transparent;
                        border: none;
                        color: white;
                        outline: none;

                        &::placeholder {
                            color: lightgrey;
                        }
                    }
                }


            }

            .userChat {
                padding: 10px;
                display: flex;
                align-items: center;
                gap: 10px;
                cursor: pointer;

                &:hover {
                    background-color: #2f2d52;
                }

                img {
                    width: 45px;
                    height: 45px;
                    object-fit: cover;
                    border-radius: 50%;
                }

                .userChatInfo {
                    span {
                        font-size: 14px;
                        color: lightgrey;
                        font-weight: 500;

                    }

                    p {
                        font-size: 11px;
                        color: rgb(185, 183, 183);
                    }
                }
            }
        }

        .chat {
            flex: 2;

            .chatInfo {
                display: flex;
                align-items: center;
                justify-content: space-between;
                height: 40px;
                background-color: #5d5b8d;
                color: lightgrey;
                padding: 8px;

                span {
                    font-size: 15px
                }

                .chatIcons {
                    display: flex;
                    justify-content: space-between;
                    gap: 8px;

                    img {
                        width: 22px;
                        height: 22px;
                        object-fit: cover;
                        border-radius: 50%;
                        cursor: pointer;
                    }
                }
            }

            .messages {
                background-color: #ddddf7;
                padding: 8px;
                height: calc(100% - 125px);
                overflow-y: scroll;

                .message {
                    display: flex;
                    gap: 10px;
                    margin-bottom: 15px;

                    .messageInfo {
                        display: flex;
                        flex-direction: column;

                        span {
                            font-size: 10px;
                            color: rgba(77, 76, 76, 0.887)
                        }

                        img {
                            width: 40px;
                            height: 40px;
                            object-fit: cover;
                            border-radius: 50%;
                        }
                    }

                    .messageContent {
                        max-width: 80%;
                        display: flex;
                        flex-direction: column;
                        gap: 8px;
                        margin-bottom: 10px;

                        p {
                            background-color: #fff;
                            padding: 7px 10px;
                            font-size: 13px;
                            border-radius: 0px 10px 10px 10px;
                            max-width: max-content;
                        }

                        img {
                            width: 50%;
                        }
                    }

                    &.owner {
                        flex-direction: row-reverse;

                        .messageContent {
                            align-items: flex-end;

                            p {
                                background-color: rgb(125, 124, 205);
                                color: white;
                                border-radius: 10px 0px 10px 10px
                            }
                        }
                    }
                }
            }

            .input {
                background-color: #fff;
                height: 40px;
                padding: 8px;
                display: flex;
                align-items: center;
                justify-content: space-between;

                input {
                    width: 100%;
                    border: none;
                    outline: none;
                    color: #2f2d52;
                    font-size: 16px;

                    &::placeholder {
                        color: lightgrey
                    }
                }

                .send {
                    display: flex;
                    align-items: center;
                    gap: 5px;

                    img {
                        width: 23px;
                        height: 23px;
                        cursor: pointer;
                    }

                    button {
                        background-color: rgb(163, 149, 236);
                        border: none;
                        outline: none;
                        padding: 6px 10px;
                        border-radius: 10%;
                        color: white;
                    }
                }

            }
        }

    }


}